<section>
  <div class="jumbotron text-center">
      <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/users/client/img/home.png" width="100%" height="100%"/>

    <div class="row">

      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      </div>
    </div>
    <br>
  
   
  </div>
  <div>
    <h2>Congrats! You've done a great thing Joining the Club.</h2>
    <p>Clubs always intend to enhance your skills and enable you towards enlightenment. A Developer, Orator, Designer whatever you want to become you can do that with the help of these Clubs</p>
    <p>This small decision will matter and makes change in your life in a better way.</p>
    <ul>
      <li>
        To become a best Developer & work with cutting edge technologies with Technical Club
        
      </li>
      <li>
       Speak like a pro and enhance your communications with Orators Club
      </li>
      <li>
        Bring out the best Designer in you with the help of Photoshop Club
      </li>
      <li>
        and much more
      </li>
      <li>
        Have fun...
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>L</strong>eadership</h2>
      <p>Enhance your skills and see if you might fit into lead team and get them into right direction by unleasing the leader inside you</p>
    </div>
    <div class="col-md-3">
      <h2><strong>T</strong>ech Enthusiast</h2>
      <p>Learn cutting Edge technologies around the IT Industry with the help TC Coordinators</p>
    </div>
    <div class="col-md-3">
      <h2><strong>D</strong>evelopers</h2>
      <p>Become a Great Developer</p>
    </div>
    <div class="col-md-3">
      <h2><strong>O</strong>rator</h2>
      <p>You might become a great orator one day, enhance you comms by Joining Orators Club</p>
    </div>
  </div>
 
  <br>Enjoy &amp; Keep Us Updated,
  <br>The Techncial Club Team.
</section>
