<div>

        <h3 class="text-center"></h3>

          <form name="userForm"  class="signin" novalidate autocomplete="off">

            <md-card>
                   <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
                   <md-card-title ><h3 layout-align="center center">NEW REGISTRATION</h3>
                     <md-card-title-text>
                       <span class="md-headline"></span>
                     </md-card-title-text>
                   </md-card-title>
                   <md-card-content>
                     <div layout-gt-xs="row">
                       <md-input-container class="md-block" flex-gt-sm>
                         <label>Email</label>
                         <input type="email" id="email" name="email"  ng-model="credentials.email"  lowercase required>
                         <div ng-messages=" userForm.email.$error" role="alert">
                           <p class="my-message" ng-message="required">Email address is required.</p>
                           <p class="my-message" ng-message="email">Email address is invalid.</p>
                         </div>                       </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Registered No</label>
              <input type="text" id="rollno" name="rollno"  ng-model="credentials.rollno"  required>
              <div ng-messages=" userForm.rollno.$error" role="alert">
                <p class="my-message" ng-message="required">Registered No is required.</p>
              </div>            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Joining Date</label>
              <md-datepicker ng-model="credentials.date" min-date="minDate" max-date="maxDate"></md-datepicker>
            </md-input-container>
          </div>

          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>First name</label>
              <input type="text" id="firstName" name="firstName"  ng-model="credentials.firstName"  required >
              <div ng-messages=" userForm.firstName.$error" role="alert">
                <p class="my-message" ng-message="required">First name is required.</p>
              </div>            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Last Name</label>
              <input type="text" id="lastName" name="lastName"  ng-model="credentials.lastName"  required>
              <div ng-messages=" userForm.lastName.$error" role="alert">
                <p class="my-message" ng-message="required">Last name is required.</p>
              </div>            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Year of Study</label>
              <md-select   id="yof" name="yof" ng-model="credentials.yof" required>
                <md-option ng-repeat="x in year" value="{{x}}">
                  {{x}}
                </md-option>
              </md-select>

              <div ng-messages=" userForm.yof.$error" role="alert">
                <p class="my-message" ng-message="required">Year Of Study is required.</p>
              </div>            </md-input-container>
          </div>
          <div layout-gt-sm="row">

              <md-input-container class="md-block" flex-gt-sm>
                <label>Branch</label>
                <md-select  id="branch" name="branch" ng-model="credentials.branch" required>
                  <md-option  ng-repeat="x in branch" value="{{x}}">
                    {{x}}
                  </md-option>
                </md-select>
                <div ng-messages=" userForm.branch.$error" role="alert">
                  <p class="my-message" ng-message="required">Branch is required.</p>
                </div>              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Section</label>
                <md-select  id="section" name="section"  ng-model="credentials.section" required>
                  <md-option  ng-repeat="x in section" value="{{x}}">
                    {{x}}
                  </md-option>
                </md-select>
                <!-- <select  class="form-control"  ng-options="x for x in section">
                        <option value="" disabled selected>Select Section</option>
                    </select> -->
                <div ng-messages=" userForm.section.$error" role="alert">
                  <p class="my-message" ng-message="required">Year Of Study is required.</p>
                </div>              </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Club</label>
            <md-select   id="clubs" name="clubs"  ng-model="credentials.clubs" required>
              <md-option  ng-repeat="x in clubs" value="{{x}}">
                {{x}}
              </md-option>
            </md-select>
            <!-- <select  id="clubs" name="clubs" class="form-control" ng-model="credentials.clubs" ng-options="x for x in clubs">
                    <option value="" disabled selected>Select Club</option>
                </select> -->
            <div ng-messages=" userForm.clubs.$error" role="alert">
              <p class="my-message" ng-message="required">Year Of Study is required.</p>
            </div>          </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Registered Domain</label>
              <md-select   id="domain"   name="domain" ng-model="credentials.domain" required>
                <md-option  ng-repeat="x in domains" value="{{x}}">
                  {{x}}
                </md-option>
              </md-select>
              <!-- <select   class="form-control" ng-options="x for x in domains">
                      <option value="" disabled selected>Select Domain</option>
                  </select> -->
          <div ng-messages=" userForm.domain.$error" role="alert">
                <p class="my-message" ng-message="required">Domain is Required</p>
              </div>            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Contact No</label>
              <input type="contact" id="Contact" name="conatct" class="form-control" ng-model="credentials.contact" placeholder="Contact No" required>
              <div ng-messages=" userForm.contact.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Last name is required.</p>
              </div>

            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Role</label>
              <md-select   id="role" name="role"  ng-model="credentials.role" required>
                <md-option  ng-repeat="x in roles" value="{{x}}">
                  {{x}}
                </md-option>
              </md-select>
              <!-- <select   class="form-control" ng-options="x for x in roles">
                      <option value="" disabled selected>Select Role</option>
                  </select> -->
              <div ng-messages="userForm.roles.$error" role="alert">
                <p class="my-message" ng-message="required">Role is required.</p>
              </div>


            </md-input-container>
          </div>




      
          <div class="text-center form-group">
            <md-button ng-click="register()" class="md-raised md-primary">Register</md-button>


          </div>
                   </md-card-content>

                 </md-card>






          </form>

      </div>
